@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sliding-div {
    transition: height 0.25s;
    overflow: hidden;
    background-color: aliceblue;
  }
}

body {
  background-image: url(../images/bg.png);
}

html {
  height: 100%;
}
